In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('./data/victoria_house.csv')

In [3]:
df.shape

(105120, 15)

In [4]:
def exploration(df):
    
    print(f'>SHAPE:\n{df.shape}')
    print('-' * 100)
    print(f'>COLUMN NAMES:\n{list(df.columns)}')
    print('-' * 100)
    print(f'>DESCRIBE:\n{df.describe()}')
    print('-' * 100)
    print(f'>ISNULL:\n{df.isnull().sum()}')
    print('-' * 100)
    print(f'>DTYPES:\n{df.dtypes}')
    
exploration(df)

>SHAPE:
(105120, 15)
----------------------------------------------------------------------------------------------------
>COLUMN NAMES:
['latitude', 'longitude', 'streetAddress', 'suburb', 'postcode', 'region', 'bedrooms', 'bathrooms', 'parkingSpaces', 'propertyType', 'price', 'listingId', 'title', 'dateSold', 'modifiedDate']
----------------------------------------------------------------------------------------------------
>DESCRIBE:
            latitude      longitude       postcode      bedrooms  \
count  105119.000000  105119.000000  105120.000000  105120.00000
mean      -37.588618     144.986669    3375.773735       2.65429
std         0.612449       0.884748     289.116018       0.79562
min       -38.661799     141.579392    3000.000000       0.00000
25%       -37.998847     144.339984    3101.000000       2.00000
50%       -37.780162     144.962296    3337.000000       3.00000
75%       -37.581211     145.347311    3629.000000       3.00000
max       -36.125909     147.236576    3981.000000      13.00000

           bathrooms  parkingSpaces     listingId
count  105120.000000  105120.000000  1.051200e+05
mean        1.550875       1.553073  1.293164e+08
std         0.499316       0.510247  1.023279e+06
min         0.000000       0.000000  7.418066e+06
25%         1.000000       1.000000  1.293070e+08
50%         2.000000       2.000000  1.294218e+08
75%         2.000000       2.000000  1.294887e+08
max         5.000000      14.000000  2.022433e+08
----------------------------------------------------------------------------------------------------
>ISNULL:
latitude            1
longitude           1
streetAddress       0
suburb              0
postcode            0
region           5242
bedrooms            0
bathrooms           0
parkingSpaces       0
propertyType        0
price               0
listingId           0
title               0
dateSold            0
modifiedDate        0
dtype: int64
----------------------------------------------------------------------------------------------------
>DTYPES:
latitude         float64
longitude        float64
streetAddress     object
suburb            object
postcode           int64
region            object
bedrooms           int64
bathrooms          int64
parkingSpaces      int64
propertyType      object
price             object
listingId          int64
title             object
dateSold          object
modifiedDate      object
dtype: object

In [5]:
df.head(1)

,latitude,longitude,streetAddress,suburb,postcode,region,bedrooms,bathrooms,parkingSpaces,propertyType,price,listingId,title,dateSold,modifiedDate
0,-38.276067,144.485488,6 Corymbia Circuit,Barwon Heads,3227,bellarine_peninsula,3,2,2,house,"$1,255,000",129714950,Luxurious Coastal Lifestyle Awaits,2018-11-06,2018-11-06T02:00:19Z

In [6]:
# We drop modifiedDate
df.drop('modifiedDate', axis = 1, inplace = True)

##### We see that the price is not numeric. Also, the dateSold is not  a datetime. We drop the modifiedDate.

In [7]:
df['price'].unique()

array(['$1,255,000', '$725,000', '$670,000', '$600,000', '$520,000',
       '$515,000', '$460,000', '$1,935,000', '$1,500,000', '$1,400,000',
       '$1,300,000', '$990,000', '$920,000', '$885,000', '$855,000',
       '$835,000', '$735,000', '$730,000', '$658,000', '$650,545',
       '$650,000', '$647,000', '$643,000', '$627,500', '$625,000',
       '$615,000', '$580,000', '$577,500', '$577,000', '$570,000',
       '$550,000', '$525,000', '$497,000', '$493,500', '$485,000',
       '$482,000', '$480,000', '$472,000', '$466,000', '$455,000',
       '$447,500', '$410,000', '$401,000', '$398,000', '$390,000',
       '$380,000', '$379,000', '$350,000', '$330,000', '$305,000',
       '$290,000', '$275,000', '$790,000', '$376,000', '$1,530,000',
       'Contact agent', '$1,265,000', '$1,235,000', '$1,067,500',
       '$900,000', '$780,000', '$678,000', '$632,500', '$630,000',
       '$605,000', '$603,500', '$575,000', '$540,000', '$530,000',
       '$500,600', '$487,000', '$445,000', '$430,000', '$400,000',
       '$386,000', '$1,453,000', '$1,200,000', '$1,100,000', '$1,055,000',
       '$1,000,000', '$873,000', '$865,000', '$850,000', '$810,000',
       '$805,000', '$800,000', '$765,000', '$750,000', '$720,000',
       '$710,000', '$697,000', '$693,000', '$680,000', '$671,000',
       '$617,000', '$585,000', '$560,000', '$528,500', '$524,000',
       '$522,000', '$510,000', '$496,500', '$495,000', '$470,000',
       '$420,000', '$395,000', '$385,000', '$378,000', '$362,000',
       '$327,000', '$323,500', '$322,000', '$320,000', '$270,000',
       '$260,000', '$215,000', '$1,780,000', '$1,268,000', '$1,225,000',
       '$1,125,000', '$1,101,000', '$1,065,000', '$923,000', '$876,000',
       '$825,000', '$802,000', '$775,000', '$745,000', '$718,000',
       '$621,500', '$612,000', '$601,000', '$561,000', '$558,000',
       '$555,000', '$545,000', '$501,500', '$446,200', '$415,000',
       '$405,000', '$388,000', '$365,000', '$360,000', '$351,000',
       '$345,000', '$340,000', '$335,000', '$315,000', '$220,000',
       '$179,000', '$2,998,000', '$1,850,000', '$1,350,000', '$1,130,000',
       '$1,115,000', '$1,010,000', '$939,500', '$930,000', '$880,000',
       '$860,000', '$853,000', '$852,500', '$851,500', '$830,000',
       '$823,000', '$815,000', '$795,000', '$770,000', '$768,000',
       '$756,000', '$740,000', '$729,500', '$715,000', '$688,500',
       '$665,000', '$660,200', '$647,500', '$645,000', '$640,000',
       '$610,000', '$602,500', '$597,000', '$590,000', '$566,500',
       '$562,000', '$533,000', '$512,500', '$500,500', '$500,000',
       '$484,000', '$475,000', '$450,000', '$447,000', '$440,000',
       '$431,000', '$418,000', '$399,000', '$375,000', '$370,000',
       '$355,000', '$352,500', '$300,000', '$288,500', '$278,000',
       '$235,000', '$2,810,000', '$2,200,000', '$1,900,000', '$1,785,000',
       '$1,045,000', '$903,000', '$875,000', '$845,000', '$823,333',
       '$798,000', '$792,000', '$774,000', '$702,000', '$701,000',
       '$700,000', '$695,000', '$690,000', '$685,500', '$675,000',
       '$659,000', '$655,000', '$652,000', '$635,000', '$573,000',
       '$565,000', '$552,000', '$540,500', '$535,000', '$531,500',
       '$530,500', '$511,000', '$468,000', '$433,000', '$425,000',
       '$387,500', '$380,100', '$365,250', '$172,500', '$1,750,000',
       '$1,699,000', '$1,575,000', '$1,550,000', '$1,385,000',
       '$1,340,000', '$1,308,000', '$1,160,000', '$1,150,000',
       '$1,105,000', '$1,060,000', '$1,040,000', '$971,500', '$955,000',
       '$941,000', '$940,000', '$925,000', '$890,000', '$851,000',
       '$820,000', '$807,000', '$760,000', '$712,500', '$711,000',
       '$705,000', '$683,000', '$670,300', '$668,000', '$660,000',
       '$637,000', '$636,000', '$623,000', '$618,000', '$595,000',
       '$593,000', '$587,500', '$563,000', '$531,800', '$490,000',
       '$465,000', '$389,000', '$368,000', '$360,500', '$317,500',
       '$282,500', '$280,000', '$250,000', '$190,000', '$1,880,000',
       '$1,730,000', '$1,725,000', '$1,620,000', '$1,280,000',
       '$1,138,000', '$1,075,000', '$787,500', '$766,000', '$526,000',
       '$6,100,000', '$5,850,000', '$3,350,000', '$2,670,000',
       '$2,630,000', '$2,550,000', '$2,450,000', '$2,335,000',
       '$2,295,000', '$2,250,000', '$2,001,888', '$1,990,000',
       '$1,860,000', '$1,788,000', '$1,740,000', '$1,705,000',
       '$1,700,000', '$1,630,000', '$1,605,000', '$1,600,000',
       '$1,471,888', '$1,470,000', '$1,450,000', '$1,448,000',
       '$1,440,000', '$1,420,000', '$1,410,000', '$1,405,000',
       '$1,395,000', '$1,388,000', '$1,370,000', '$1,365,000',
       '$1,355,000', '$1,342,500', '$1,335,000', '$1,330,000',
       '$1,305,000', '$1,302,500', '$1,301,000', '$1,285,250',
       '$1,285,000', '$1,282,000', '$1,270,000', '$1,260,000',
       '$1,250,000', '$1,230,000', '$1,220,000', '$1,214,000',
       '$1,210,000', '$1,203,000', '$1,185,000', '$1,180,000',
       '$1,170,000', '$1,165,000', '$1,156,000', '$1,154,000',
       '$1,153,000', '$1,136,000', '$1,119,000', '$1,110,000',
       '$1,091,000', '$1,085,000', '$1,078,000', '$1,070,000',
       '$1,050,000', '$1,033,500', '$1,029,000', '$1,025,000',
       '$1,016,000', '$1,013,000', '$1,005,000', '$1,000,200', '$995,000',
       '$983,500', '$980,000', '$976,000', '$968,000', '$965,000',
       '$960,000', '$951,000', '$942,000', '$935,000', '$915,000',
       '$912,500', '$910,000', '$905,000', '$901,000', '$895,000',
       '$890,500', '$887,000', '$877,500', '$872,000', '$862,500',
       '$862,000', '$858,000', '$842,000', '$840,000', '$837,000',
       '$836,500', '$816,500', '$807,500', '$797,000', '$791,000',
       '$781,500', '$777,500', '$772,000', '$761,000', '$745,500',
       '$742,000', '$716,000', '$713,000', '$706,000', '$692,500',
       '$691,000', '$688,000', '$686,000', '$685,000', '$661,000',
       '$653,000', '$642,500', '$641,850', '$641,000', '$640,001',
       '$638,000', '$631,000', '$622,500', '$620,000', '$616,000',
       '$611,000', '$610,500', '$609,000', '$607,000', '$606,500',
       '$592,000', '$591,000', '$588,000', '$586,000', '$551,500',
       '$551,000', '$547,000', '$532,000', '$527,150', '$516,000',
       '$506,000', '$498,000', '$491,000', '$472,500', '$466,500',
       '$456,500', '$452,500', '$451,700', '$451,000', '$440,500',
       '$435,000', '$416,000', '$411,500', '$402,500', '$373,000',
       '$372,000', '$369,000', '$366,000', '$347,000', '$342,000',
       '$306,000', '$285,000', '$245,000', '$241,000', '$5,500,000',
       '$2,950,000', '$1,325,000', '$1,310,000', '$1,140,000', '$771,000',
       '$755,000', '$707,500', '$705,100', '$682,500', '$660,250',
       '$650,800', '$617,500', '$597,500', '$578,000', '$538,000',
       '$529,000', '$515,111', '$481,500', '$477,000', '$473,500',
       '$471,000', '$432,500', '$356,000'], dtype=object)

In [8]:
# How many rows have no price?
print('>SHAPE:',df[df['price'] == 'Contact agent'].shape)

>SHAPE: (15, 14)

In [9]:
def get_price(price):
    
    return price.replace(',','').replace('$','')

In [10]:
df['price'] = df['price'].apply(lambda x: get_price(x))

In [11]:
df['price'].unique()

array(['1255000', '725000', '670000', '600000', '520000', '515000',
       '460000', '1935000', '1500000', '1400000', '1300000', '990000',
       '920000', '885000', '855000', '835000', '735000', '730000',
       '658000', '650545', '650000', '647000', '643000', '627500',
       '625000', '615000', '580000', '577500', '577000', '570000',
       '550000', '525000', '497000', '493500', '485000', '482000',
       '480000', '472000', '466000', '455000', '447500', '410000',
       '401000', '398000', '390000', '380000', '379000', '350000',
       '330000', '305000', '290000', '275000', '790000', '376000',
       '1530000', 'Contact agent', '1265000', '1235000', '1067500',
       '900000', '780000', '678000', '632500', '630000', '605000',
       '603500', '575000', '540000', '530000', '500600', '487000',
       '445000', '430000', '400000', '386000', '1453000', '1200000',
       '1100000', '1055000', '1000000', '873000', '865000', '850000',
       '810000', '805000', '800000', '765000', '750000', '720000',
       '710000', '697000', '693000', '680000', '671000', '617000',
       '585000', '560000', '528500', '524000', '522000', '510000',
       '496500', '495000', '470000', '420000', '395000', '385000',
       '378000', '362000', '327000', '323500', '322000', '320000',
       '270000', '260000', '215000', '1780000', '1268000', '1225000',
       '1125000', '1101000', '1065000', '923000', '876000', '825000',
       '802000', '775000', '745000', '718000', '621500', '612000',
       '601000', '561000', '558000', '555000', '545000', '501500',
       '446200', '415000', '405000', '388000', '365000', '360000',
       '351000', '345000', '340000', '335000', '315000', '220000',
       '179000', '2998000', '1850000', '1350000', '1130000', '1115000',
       '1010000', '939500', '930000', '880000', '860000', '853000',
       '852500', '851500', '830000', '823000', '815000', '795000',
       '770000', '768000', '756000', '740000', '729500', '715000',
       '688500', '665000', '660200', '647500', '645000', '640000',
       '610000', '602500', '597000', '590000', '566500', '562000',
       '533000', '512500', '500500', '500000', '484000', '475000',
       '450000', '447000', '440000', '431000', '418000', '399000',
       '375000', '370000', '355000', '352500', '300000', '288500',
       '278000', '235000', '2810000', '2200000', '1900000', '1785000',
       '1045000', '903000', '875000', '845000', '823333', '798000',
       '792000', '774000', '702000', '701000', '700000', '695000',
       '690000', '685500', '675000', '659000', '655000', '652000',
       '635000', '573000', '565000', '552000', '540500', '535000',
       '531500', '530500', '511000', '468000', '433000', '425000',
       '387500', '380100', '365250', '172500', '1750000', '1699000',
       '1575000', '1550000', '1385000', '1340000', '1308000', '1160000',
       '1150000', '1105000', '1060000', '1040000', '971500', '955000',
       '941000', '940000', '925000', '890000', '851000', '820000',
       '807000', '760000', '712500', '711000', '705000', '683000',
       '670300', '668000', '660000', '637000', '636000', '623000',
       '618000', '595000', '593000', '587500', '563000', '531800',
       '490000', '465000', '389000', '368000', '360500', '317500',
       '282500', '280000', '250000', '190000', '1880000', '1730000',
       '1725000', '1620000', '1280000', '1138000', '1075000', '787500',
       '766000', '526000', '6100000', '5850000', '3350000', '2670000',
       '2630000', '2550000', '2450000', '2335000', '2295000', '2250000',
       '2001888', '1990000', '1860000', '1788000', '1740000', '1705000',
       '1700000', '1630000', '1605000', '1600000', '1471888', '1470000',
       '1450000', '1448000', '1440000', '1420000', '1410000', '1405000',
       '1395000', '1388000', '1370000', '1365000', '1355000', '1342500',
       '1335000', '1330000', '1305000', '1302500', '1301000', '1285250',
       '1285000', '1282000', '1270000', '1260000', '1250000', '1230000',
       '1220000', '1214000', '1210000', '1203000', '1185000', '1180000',
       '1170000', '1165000', '1156000', '1154000', '1153000', '1136000',
       '1119000', '1110000', '1091000', '1085000', '1078000', '1070000',
       '1050000', '1033500', '1029000', '1025000', '1016000', '1013000',
       '1005000', '1000200', '995000', '983500', '980000', '976000',
       '968000', '965000', '960000', '951000', '942000', '935000',
       '915000', '912500', '910000', '905000', '901000', '895000',
       '890500', '887000', '877500', '872000', '862500', '862000',
       '858000', '842000', '840000', '837000', '836500', '816500',
       '807500', '797000', '791000', '781500', '777500', '772000',
       '761000', '745500', '742000', '716000', '713000', '706000',
       '692500', '691000', '688000', '686000', '685000', '661000',
       '653000', '642500', '641850', '641000', '640001', '638000',
       '631000', '622500', '620000', '616000', '611000', '610500',
       '609000', '607000', '606500', '592000', '591000', '588000',
       '586000', '551500', '551000', '547000', '532000', '527150',
       '516000', '506000', '498000', '491000', '472500', '466500',
       '456500', '452500', '451700', '451000', '440500', '435000',
       '416000', '411500', '402500', '373000', '372000', '369000',
       '366000', '347000', '342000', '306000', '285000', '245000',
       '241000', '5500000', '2950000', '1325000', '1310000', '1140000',
       '771000', '755000', '707500', '705100', '682500', '660250',
       '650800', '617500', '597500', '578000', '538000', '529000',
       '515111', '481500', '477000', '473500', '471000', '432500',
       '356000'], dtype=object)

In [12]:
df = df[df['price'].str.isnumeric()]

In [13]:
# Checking of the deletion.
print('>SHAPE:',df[~df['price'].str.isnumeric()].shape)

>SHAPE: (0, 14)

In [14]:
df['price'] = pd.to_numeric(df['price'])

In [15]:
df['dateSold'] = pd.to_datetime(df['dateSold'])

In [16]:
# Checking of the types changing.
df.dtypes

latitude                float64
longitude               float64
streetAddress            object
suburb                   object
postcode                  int64
region                   object
bedrooms                  int64
bathrooms                 int64
parkingSpaces             int64
propertyType             object
price                     int64
listingId                 int64
title                    object
dateSold         datetime64[ns]
dtype: object

In [17]:
df.head(1)

,latitude,longitude,streetAddress,suburb,postcode,region,bedrooms,bathrooms,parkingSpaces,propertyType,price,listingId,title,dateSold
0,-38.276067,144.485488,6 Corymbia Circuit,Barwon Heads,3227,bellarine_peninsula,3,2,2,house,1255000,129714950,Luxurious Coastal Lifestyle Awaits,2018-11-06

In [18]:
# We have 5242 rows with no region name.
df['region'].unique()

array(['bellarine_peninsula', 'melbourne___northern_region', nan,
       'south_western_region', 'south_west_melbourne',
       'south_east_melbourne', 'mornington_peninsula',
       'eastern_melbourne', 'western_region', 'western_melbourne',
       'gippsland', 'north_west_melbourne', 'northern_region',
       'inner_east_melbourne', 'north_east_region', 'bayside',
       'melbourne_city___greater_region'], dtype=object)

##### We fix the loosing region name by the postcode.

In [19]:
dfdict = df[['postcode','region']].copy()
dfdict.dropna(axis = 0,inplace = True)
dfdict.drop_duplicates(inplace = True)
regionDict = dfdict.to_dict('records')

In [20]:
def get_region(postcode, regionDict):
    
    for i in regionDict:
        if i['postcode'] == postcode:
            return i['region']

In [21]:
df['region'] = df['postcode'].apply(lambda x: get_region(x, regionDict))

In [22]:
# There is still some rows with no region, so we delete them.
df.isnull().sum()

latitude          1
longitude         1
streetAddress     0
suburb            0
postcode          0
region           11
bedrooms          0
bathrooms         0
parkingSpaces     0
propertyType      0
price             0
listingId         0
title             0
dateSold          0
dtype: int64

In [23]:
# We drop this row also.
df[df['latitude'].isnull()]

,latitude,longitude,streetAddress,suburb,postcode,region,bedrooms,bathrooms,parkingSpaces,propertyType,price,listingId,title,dateSold
34,NaN,NaN,12 Caitlin Street,Lara,3212,south_west_melbourne,4,2,2,house,577000,128340206,BRAND NEW JUST UNPACK AND ENJOY!,2018-11-05

In [24]:
df.dropna(inplace = True)

In [25]:
# Checking the deletion.
df.isnull().sum()

latitude         0
longitude        0
streetAddress    0
suburb           0
postcode         0
region           0
bedrooms         0
bathrooms        0
parkingSpaces    0
propertyType     0
price            0
listingId        0
title            0
dateSold         0
dtype: int64

In [26]:
df.shape

(105093, 14)

In [27]:
df.head(5)

,latitude,longitude,streetAddress,suburb,postcode,region,bedrooms,bathrooms,parkingSpaces,propertyType,price,listingId,title,dateSold
0,-38.276067,144.485488,6 Corymbia Circuit,Barwon Heads,3227,bellarine_peninsula,3,2,2,house,1255000,129714950,Luxurious Coastal Lifestyle Awaits,2018-11-06
1,-38.238159,144.545576,9 La Bella Street,Ocean Grove,3226,bellarine_peninsula,4,2,2,house,725000,129219294,Laid Back Family Living In An Idyllic Location,2018-11-06
2,-37.638387,144.922701,26 Greensted Grove,Roxburgh Park,3064,melbourne___northern_region,4,2,2,house,670000,129517974,Oversized & park-facing,2018-11-06
3,-38.121844,144.332476,80 Calvert Street,Hamlyn Heights,3215,bellarine_peninsula,3,2,1,house,600000,129640018,Cherished Family Home In Leafy Hamlyn Heights,2018-11-06
4,-38.129071,144.323640,295 Church Street,Herne Hill,3218,bellarine_peninsula,3,1,2,house,520000,129459426,Potential Plus,2018-11-06

##### We save the dataset.

In [28]:
df.to_csv('victoria_house_cln.csv')